*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
#madh{
    margin: 0;
}
header{
    /* background-color: rgb(0, 0, 0); */
    background-image: url(first_back.webp);
    height: auto;
}
header nav{
    padding: 2rem 0 ;
}
#branding{
    margin-right: 10rem;
}
.container{
    max-width: 1152px;
    padding:  0 15px;
    margin: 0 auto;
}
.flexes{
    display: flex;
}
.centre_required{ 
    align-items: center;
}
.linkings {
    color: rgb(47, 255, 78);
    text-decoration: none;
    margin-right: 3rem;
}

.lefty img{
    width: 300px;
    margin-right: 5 .6rem;
}
.right h2{
    color: burlywood;
    font-size: 2.5rem;
    margin-bottom: 0.7rem;
    line-height: 4rem;
}
.right p{
    font-size: 1.4rem;
    color: aqua;
}
.xyz{
    justify-content: space-between;
}
#Heading_home {
    display: flex;
    letter-spacing: 4px;
    justify-content: center;
    margin-bottom: 40px;
    font-weight: bolder;
    font-family: cursive;
    text-decoration:underline rgb(242, 8, 8);
    color: rgb(230, 252, 104);
    font-size: 3.9rem;
}
.about_me{
    background-image: url(sec_back.jpg);
    margin: 0;
}
#Heading_about{
    margin-top: 0px;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    color: #4e14ff;
    font-family: 'Diplomata SC', cursive;
    text-decoration: overline underline #4e14ff;
    font-size: 2.5em;
}
#about_content{
    margin: 40px;
    font-size: 1.5rem;
    margin-bottom: 0px;
    padding-bottom: 30px;
    color: chocolate;
    justify-content: center;
    
    align-items: center;
}
#skill_heading{
    display: flex;
    justify-content: center;
    color: rgb(255, 0, 238);
    margin-top: 0px;
    padding-top: 30px;
    font-family: 'Kanit', sans-serif;
    text-decoration:overline underline rgb(255, 0, 238) ;
    font-size: 3.9rem;
}
#logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* margin: 10%; */
}
.sizing{
    display: flex;
    flex-direction: row;
    height: 200px;
    border: 2px solid green;
    margin: 3%;
    width: 400px;
}


#contact_heading{
    display: flex;
    justify-content: center;
    color: rgb(255, 242, 0);
    margin-top: 0px;
    padding-top: 30px;
    margin-bottom: 40px;
    font-size: 3.9rem; 
    font-family: cursive;
    text-decoration:overline underline rgb(255, 242, 0);
}
#contact_ids{
    /* background-color: rgba(0, 0, 0, 0.805); */
    background-image: url(contact_back.jpg);
    height: 350px;
    margin-top: 0;
    margin-bottom: 0;
}
.imgs{
    width:88px;
    height: 88px;
}
.fa-brands{
    /* size-adjust: calc(500px); */
    /* color: rgb(67, 123, 55); */
    font-size: 2.4rem;
    width: 50px;
    margin-left: 1%;
    margin-bottom: 90px;
    /* margin-right: 5%; */
}
.fa-brands:hover{
    color: whitesmoke;
    font-size:2.7rem ;
}
.fa-instagram{
    color: rgb(240, 10, 232);
}
.fa-twitter{
    color: rgb(42, 97, 238);
}
.fa-linkedin-in{
    color: rgb(4, 0, 255);
}

#links_logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    align-items: center;
}

#ending{
    color: wheat;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#final{
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
}

#skill_set{
    /* display: flex; */
    background-image: url(third_back.jpg);
    margin-bottom: 0;
    align-items: center;
    height: auto;
    width: auto;
}

